<input id="navbar-indicator" class="navbar-collapse" type="checkbox" checked>
      <nav class="navbar">
          <a class="navbar-brand" href="{{ site.url }}">
               {% if site.logo %}
                   <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
               {% else %}
                   <span>{{ site.title }}</span>
               {% endif %}
         </a>

         <div class="navbar-right">
             <a class="nav-link" href="{{ site.url }}">Homepage</a>
             <a class="nav-link" href="{{ "/blog" | prepend: site.url }}">Blog</a>
         </div>

         <label class="navbar-toggler" for="navbar-indicator">
            +
         </label>
</nav>
